BODY {
    background-color: #CCC;
}


FIELDSET {
    margin-top: 2em;
    margin-bottom: 2em;
}

LEGEND {
    font-size: 18px;
    font-weight: bold;
}

INPUT, TEXTAREA {
    background-color: #FFF;
}


#heading {
}


#heading .title {
    font-size: 36px;
    font-weight: bold;
}


#request {
}

#request TH {
    padding: .5em 1em .5em 1em;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

#request TD {
    text-align: left;
    font-weight: normal;
    vertical-align: top;
}


#response {
}

#copyright {
    font-size: normal;
    font-style: italic;
}